@font-face{
    font-family: "Raleway";
    src: url(Raleway/static/Raleway-Medium.ttf);
}
@font-face{
    font-family: "Raleway-light";
    src: url(Raleway/static/Raleway-Light.ttf);
}
@font-face{
    font-family: "Raleway-semibold";
    src: url(Raleway/static/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: "Raleway-bold";
    src: url(Raleway/static/Raleway-Bold.ttf);
}



body{
    font-family:"Raleway";

}
#bloc_page{
    width: 90%;
    margin: auto;

}

h2{
    font-family: "Raleway-bold";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

h3{
    font-family: "Raleway-light";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 50px;
}
header span{
    font-family: "Raleway-semibold";
    color: #0065FC;
}
header a{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
}

#menu{
    display: flex;
    position: relative;
}
.inscription{
    position: relative;
    top: 30px;
}

#menu a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

header .inscription:hover{
    text-shadow: 0px 1px 0px #0065fc;    
    color: #0065FC;
}

header img{
    min-width: 90px;
    max-width: 90px;
    height: auto;
    padding: 30px 20px 10px 0px;
}






#recherche{
    margin-top: 30px;
}
#barre_recherche{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

#barre_recherche img{
    width: auto;
    height: 14px;
    background-color: #f2f2f2;
    padding:12px;
    border-radius:10px 0px 0px 10px ;
}
#champs_recherche{
    border: solid 1px #f2f2f2;
    padding-left: 10px;
    height: 38px;
    max-width: 200px;
    font-family: "Raleway-semibold";
    font-size: 14px;
    color: black;
}
#bouton_recherche{
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-size: 13px;
    font-family: "Raleway-semibold";
    color: white;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border: #0065FC solid;
}
#bouton_recherche:active{
    border: outset 1px;
}






#filtres_recherche{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-family: "Raleway-bold";
    align-items: center;
    max-width: 830px;
}

#eco{
    display: flex;
    align-items: center;
    border-radius: 10px;
}
#eco img{
    height: 17px;
    width: auto;
    background-color: #DEEBFF;
    padding: 13px;
    border-radius: 20px;
    position: relative;
    left: 35px;
}
#eco a{
    display: flex;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid 2px #f2f2f2;
    border-radius: 20px;
    padding: 0px 15px 0px 45px;
    margin-top: 5px;
    margin-bottom:5px;
}
#eco a:hover{
    background-color: #0065FC;
    color: white;
    border:solid 2px #0065FC;
    box-shadow: 1px 1px 5px grey;
}
#familial{
    display: flex;
    align-items: center;
    border-radius: 10px;
}
#familial img{
    height: 17px;
    width: auto;
    background-color: #DEEBFF;
    padding: 13px;
    border-radius: 20px;
    position: relative;
    left: 35px;
}
#familial a{
    display: flex;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid 2px #f2f2f2;
    border-radius: 20px;
    padding: 0px 15px 0px 45px;
    margin-top: 5px;
    margin-bottom:5px;
}
#familial a:hover{
    background-color: #0065FC;
    color: white;
    border: #0065FC solid 2px;
    box-shadow: 1px 1px 5px grey;
}
#romantique{
    display: flex;
    align-items: center;
    border-radius: 10px;
}
#romantique img{
    height: 17px;
    width: auto;
    background-color: #DEEBFF;
    padding: 13px;
    border-radius: 20px;
    position: relative;
    left: 35px;
}
#romantique a{
    display: flex;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid 2px #f2f2f2;
    border-radius: 20px;
    padding: 0px 15px 0px 45px;
    margin-top: 5px;
    margin-bottom:5px;
}
#romantique a:hover{
    background-color: #0065FC;
    color: white;
    border: solid 2px #0065FC;
    box-shadow: 1px 1px 5px grey;
}
#animaux{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}
#animaux img{
    height: 17px;
    width: auto;
    background-color: #DEEBFF;
    padding: 13px;
    border-radius: 20px;
    position: relative;
    left: 35px;
}
#animaux a{
    display: flex;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid 2px #f2f2f2;
    border-radius: 20px;
    padding: 0px 15px 0px 45px;
    min-width: 115px;
    margin-top: 5px;
    margin-bottom:5px;
}
#animaux a:hover{
    background-color: #0065FC;
    color: white;
    border: #0065FC solid 2px;
    box-shadow: 1px 1px 5px grey;
}

#info_recherche{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#info_recherche img{
    width: 10px;
    height: auto;
    border: solid 1px #f2f2f2;
    padding: 3px;
    border-radius: 20px;
    margin-right: 8px;
}







#section_1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hebergement .etoiles{
    height: 10px;
    width: auto;
}
#hebergement span{
    font-family: "Raleway-light";
    font-size: 10px;
}
#hebergement h3{
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
}

#titre_hebergement{
    padding: 20px 0px 0px 20px;
}
#hebergement{
    position: relative;
    background-color: #f2f2f2;
    width: 70%;
    min-width: 250px;
    border-radius: 20px;
    margin-right: 10px;
    padding-bottom: 80px;
    }
    
#hebergement a{ 
    font-size: 12px;
    font-family: "Raleway-semibold";
    text-decoration: none;
    color: black;
    margin: 19px;
    line-height: 16px;

}
#photos_hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
 
#auberge_la_cannebiere{
    background-image: url(images_reservia/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: contain;
    background-position-y: -15px;
    border-radius: 15px;
    border: white solid 3px;
    height: 140px;
    width: 180px;
    box-shadow: 1px 2px 5px #cccccc;

}
#auberge_la_cannebiere p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 165px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 81px;

}
#hotel_du_port{
    background-image: url(images_reservia/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: contain;
    background-position-y: -25px;
    border-radius: 15px;
    border: white solid 3px;
    height: 140px;
    width: 180px;
    box-shadow: 1px 2px 5px #cccccc;

}
#hotel_du_port p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 165px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 81px;

}
#hotel_les_mouettes{
    background-image: url(images_reservia/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: contain;
    background-position-y: -25px;
    border-radius: 15px;
    border: white solid 3px;
    height: 140px;
    width: 180px;
    box-shadow: 1px 2px 5px #cccccc;
}
#hotel_les_mouettes p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 165px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 81px;
}
#hotel_de_la_mer{
    background-image: url(images_reservia/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: contain;
    background-position-y: -30px;
    border-radius: 15px;
    border: white solid 3px;
    height: 140px;
    width: 180px;
    box-shadow: 1px 2px 5px #cccccc;
}

#hotel_de_la_mer p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 165px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 81px;
}
#auberge_le_panier{
    background-image: url(images_reservia/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: contain;
    background-position-y: -25px;
    border-radius: 15px;
    border: white solid 3px;
    height: 140px;
    width: 180px;
    box-shadow: 1px 2px 5px #cccccc;
}
#auberge_le_panier p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 165px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 81px;
}
#hotel_chez_amina{
    background-image: url(images_reservia/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position-y: -100px;
    border-radius: 15px;
    border: white solid 3px;
    height: 140px;
    width: 180px;
    box-shadow: 1px 2px 5px #cccccc;
    }
#hotel_chez_amina p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 165px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 81px;
    }








aside{
    width: 35%;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    min-width: 296px;

}

#titre_populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px ;
    border-radius: 20px 20px 0px 0px;

}
#titre_populaires img{
    width: 16px;
    height: 12px;
}

#photos_populaires{
    padding: 20px ;
    background-color: #f2f2f2;
    border-radius: 0px 0px 20px 20px;

}
#photos_populaires a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;

}

#photos_populaires .etoiles{
    height: 11px;
    width: auto;
    position: absolute;
    bottom: 10px;
}

#photos_populaires span{
    font-family: "Raleway-light";
    font-size: 11px;
    position: relative;
    top: 7px;
}
#hotel_1_img{
    min-width: 110px;
    min-height: 110px;
    background-image: url(images_reservia/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;
}
#hotel_1_p{
    position: relative;
    background-color: white;
    font-family: "Raleway-bold";
    font-size: 12px;
    padding: 0px 12px 0px 12px;
    height: 110px;
    width: 3000px;
    min-width: 100px;
    border-radius: 0px 20px 20px 0px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;
    
}

#hotel_2_img{
    min-width: 110px;
    min-height: 110px;
    background-image: url(images_reservia/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position-x: -15px;
    border-radius: 20px 0px 0px 20px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;

}
#hotel_2_p{
    position: relative;
    background-color: white;
    font-family: "Raleway-bold";
    font-size: 12px;
    padding: 0px 12px 0px 12px;
    height: 110px;
    width: 200px;
    min-width: 100px;
    border-radius: 0px 20px 20px 0px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;
}
#hotel_3_img{
    min-width: 110px;
    min-height: 110px;
    background-image: url(images_reservia/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position-y: -30px;
    border-radius: 20px 0px 0px 20px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;

}
#hotel_3_p{
    position: relative;
    background-color: white;
    font-family: "Raleway-bold";
    font-size: 12px;
    padding: 0px 12px 0px 12px;
    height: 110px;
    width: 200px;
    min-width: 100px;
    border-radius: 0px 20px 20px 0px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;
}






#activites{
    width: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
#photos_activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#photos_activites a{
    text-decoration: none;
    color: black;
    font-family: "Raleway-bold";
    font-size: 10px;
    width: 250px;
}

#vieux_port{
    background-image: url(images_reservia/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover ;
    border-radius: 15px;
    height: 350px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    }
#vieux_port p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 312px;
    }
#iles_du_frioul{
    background-image: url(images_reservia/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover ;
    background-position-y: -10px;
    border-radius: 15px;
    height: 140px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    margin-top: 30px;
    }
#iles_du_frioul p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 102px;
    } 
#fort_de_pomegues{
    background-image: url(images_reservia/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover ;
    background-position-y: -100px;
    border-radius: 15px;
    height: 180px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    }
#fort_de_pomegues p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 142px;
}
#parc_national_des_calanques{
    background-image: url(images_reservia/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover ;
    border-radius: 15px;
    height: 350px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    }
#parc_national_des_calanques p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 312px;
    }
#notre_dame_de_la_garde{
    background-image: url(images_reservia/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover ;
    border-radius: 15px;
    height: 180px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    }
#notre_dame_de_la_garde p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 142px;
    }
#parc_longchamp{
    background-image: url(images_reservia/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover ;
    background-position-y: -20px;
    border-radius: 15px;
    height: 140px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    margin-top: 30px;
    }
#parc_longchamp p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 102px;
    }




footer{
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: #f2f2f2;
    width: 100%;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: black;
}
footer h2{
    margin-bottom: 20px;
}
#a_propos{
    margin: 20px 20px 20px 30px;
}
#nos_hebergements{
    margin: 20px 30px 20px 30px;}
#assistance{
    margin: 20px 30px 20px 30px;}





/*|------------------------------|
  |---------MEDIA QUERY 1--------|
  |------------------------------|*/




  

@media all and (max-width: 480px){

    body{
        width: 100%;
        margin: 0px;
    }
    #bloc_page{
        width: 100%;
    }
    header{
        margin-bottom: 0px;
    }
    header img{
        padding-left: 35px;
        margin-right: 200px;
    }
    .inscription{
        position: absolute;
        right: 0px;
        top: 15px;
        font-size: 14px;
    }
    nav{
        width: 100%;
        justify-content: center;
    }

    #menu{
        width: 100%;
        justify-content: space-around;
    }
    #menu p{
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    #menu a{
        width: 50%;
        display: inline-block;
        border-bottom: #f2f2f2 solid 2px;
    }
    #menu a:hover{
        border-top: none;
        border-bottom: solid 2px #0065FC
    }




    #recherche{
        margin-top: 50px;
    }
    #recherche h2{
        font-size: 26px;
        padding: 0px 35px 0px 35px;
    }
    #recherche h3{
        font-size: 12px;
        padding: 0px 35px 0px 35px;
    }
    #barre_recherche{
        justify-content: center;
        width: 100%;
    }
    #barre_recherche img{
        height: 20px;
        padding: 10px;
    }
    #champs_recherche{
        height: 40px;
        min-width: 100px;
    }
    #bouton_recherche{
        height: 40px;
    }
    .filtres{
        margin-right: 200px;
        margin-left: 15px;
    }
    #filtres_recherche{
        margin: 0px 20px 0px 20px;
    }
    #info_recherche{
        padding-left: 25px;
        justify-content: center;
    }
    #info_recherche h3{
        padding-left: 5px;
    }





    #section_1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 50px;
    }
    #titre_populaires{
        padding: 20px 20px 10px 20px;
        border-radius: 0px;
    }

    #photos_populaires .etoiles{
        position: absolute;
        bottom: 10px;
    }
    #hotel_1_p{
        font-size: 14px;
        width: 70%;
    }
    #hotel_2_p{
        font-size: 14px;
        width: 70%;
    }
    #hotel_3_p{
        font-size: 14px;
        width: 70%;
    }
    #photos_populaires{
        border-radius: 0px;
    }

    #hotel_1{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        border: solid white 5px;
    }
    #hotel_2{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        border: solid white 5px;
    }
    #hotel_3{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
        border: solid white 5px;
    }




    #hebergement{
        width: 90%;
        margin: auto;
        background-color: white;
    }
    #titre_hebergement{
        padding: 10px 20px 10px 0px;
    }

    #photos_hebergement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 0px 20px 0px 20px;
    }
    #photos_hebergement a{
        width: 100%;
        margin: auto;
    }
    #auberge_la_cannebiere{
        background-size: cover;
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
        border: white solid 5px;
    }
    #auberge_la_cannebiere p{
        width: 96%;
        position: relative;
        top: 41px;
        border-radius: 0px 0px 10px 10px;
    }
    #hotel_du_port{
        background-size: cover;
        background-position-y: -60px;
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
        border: white solid 5px;
    }
    #hotel_du_port p{
        width: 96%;
        position: relative;
        top: 41px;
        border-radius: 0px 0px 10px 10px;
    }
    #hotel_les_mouettes{
        background-size: cover;
        background-position-y: -80px;
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
        border: white solid 5px;
    }
    #hotel_les_mouettes p{
        width: 96%;
        position: relative;
        top: 41px;
        border-radius: 0px 0px 10px 10px;
    }
    #hotel_de_la_mer{
        background-size: cover;
        background-position-y: -130px;
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
        border: white solid 5px;
    }
    #hotel_de_la_mer p{
        width: 96%;
        position: relative;
        top: 41px;
        border-radius: 0px 0px 10px 10px;
    }
    #auberge_le_panier{
        background-size: cover;
        background-position-y: -60px;
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
        border: white solid 5px;
    }
    #auberge_le_panier p{
        width: 96%;
        position: relative;
        top: 41px;
        border-radius: 0px 0px 10px 10px;
    }
    #hotel_chez_amina{
        background-size: cover;
        background-position-y: -210px;
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
        border: white solid 5px;
    }
    #hotel_chez_amina p{
        width: 96%;
        position: relative;
        top: 41px;
        border-radius: 0px 0px 10px 10px;
    }
    #hebergement h3 a{
        padding: 0px;
        font-size: 14px;
        margin: 0px;
    }




    #activites{
        display: flex;
        flex-direction: column;
        max-height: none;
        margin-top: 0px;
    }
    #titre_activites{
        margin-left: 20px;
    }
    #photos_activites {
        height: auto;
        width: 90%;
        margin: auto;
    }
    #photos_activites a{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    #vieux_port {
        width: 100%;
        height: 140px;
        background-position-y: -30px;
    }
    #vieux_port p{
        position: relative;
        top: 102px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;
    }
    #fort_de_pomegues{
        width: 100%;
        height: 140px;
        background-position-y: -250px;
    }
    #fort_de_pomegues p{
        position: relative;
        top: 102px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;

    }
    #iles_du_frioul{
        width: 100%;
        height: 140px;
        background-position-y: -60px;
        margin-top: 20px;
    }
    #iles_du_frioul p{
        position: relative;
        top: 102px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;

    }
    #parc_national_des_calanques{
        width: 100%;
        height: 140px;
        background-position-y: -80px;
    }
    #parc_national_des_calanques p{
        position: relative;
        top: 102px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;

    }
    #notre_dame_de_la_garde{
        width: 100%;
        height: 140px;
        background-position-y: -30px;
    }
    #notre_dame_de_la_garde p{
        position: relative;
        top: 102px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;

    }
    #parc_longchamp{
        width: 100%;
        height: 140px;
        background-position-y: -80px;
        margin-top: 20px;
    }
    #parc_longchamp p{
        position: relative;
        top: 102px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;

    }
    #petites_act_1{
        width: 100%;
        margin-bottom: 20px;
    }
    #petites_act_2{
        width: 100%;
        margin-bottom: 20px;
    }




    footer{
        display: flex;
        flex-direction: column;
    }
    #a_propos{
        margin-bottom: -10px;
    }
    #nos_hebergements{
        margin-bottom: -10px;
    }
}


/* ------------------------
  |      MEDIA QUERY 2    |
   ----------------------- */



@media all and (min-width:481px) and (max-width: 614px){
    #menu a{
        display: flex;
        padding-right: 13px;
        padding-left: 13px;
    }
    .inscription{
        padding-left: 10px;
    }
    #section_1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }



    aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 50px;
    }
    #titre_populaires{
        padding: 20px 20px 10px 20px;
        border-radius: 20px 20px 0px 0px;
    }
    
    #photos_populaires .etoiles{
        position: absolute;
        bottom: 10px;
    }
    #hotel_1_p{
        font-size: 14px;
        width: 80%;
    }
    #hotel_2_p{
        font-size: 14px;
        width: 80%;
    }
    #hotel_3_p{
        font-size: 14px;
        width: 80%;
    }
    #photos_populaires{
        border-radius: 0px 0px 20px 20px;
    }
    
    #hotel_1{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        border: solid white 5px;
    }
    #hotel_2{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        border: solid white 5px;
    }
    #hotel_3{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
        border: solid white 5px;
    }


    

    #hebergement{
        width: 100%;
    }



    #activites{
        display: flex;
        flex-direction: column;
        max-height: none;
        margin-top: 0px;
    }
    #titre_activites{
        margin-left: 20px;
    }
    #photos_activites {
        height: auto;
        width: 100%;
        margin: auto;
    }
    #photos_activites a{
        height: 200px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    #vieux_port {
        width: 100%;
        height: 200px;
        background-position-y: -40px;
    }
    #vieux_port p{
        position: relative;
        top: 162px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;
    
    }
    #fort_de_pomegues{
        width: 100%;
        height: 200px;
        background-position-y: -260px;
    }
    #fort_de_pomegues p{
        position: relative;
        top: 162px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;
    
    }
    #iles_du_frioul{
        width: 100%;
        height: 200px;
        background-position-y: -60px;
        margin-top: 20px;
    }
    #iles_du_frioul p{
        position: relative;
        top: 162px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;
    
    }
    #parc_national_des_calanques{
        width: 100%;
        height: 200px;
        background-position-y: -90px;
    }
    #parc_national_des_calanques p{
        position: relative;
        top: 162px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;
    
    }
    #notre_dame_de_la_garde{
        width: 100%;
        height: 200px;
        background-position-y: -30px;
    }
    #notre_dame_de_la_garde p{
        position: relative;
        top: 162px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;
    
    }
    #parc_longchamp{
        width: 100%;
        height: 200px;
        background-position-y: -100px;
        margin-top: 20px;
    }
    #parc_longchamp p{
        position: relative;
        top: 162px;
        width: 100%;
        margin: auto;
        padding: 12px 0px 6px 0px;
        text-indent: 10px;
    
    }
    #petites_act_1{
        width: 100%;
        margin-bottom: 20px;
    }
    #petites_act_2{
        width: 100%;
        margin-bottom: 20px;
    }
}



/* ------------------------
  |      MEDIA QUERY 3    |
   ----------------------- */



@media all and (min-width:615px) and (max-width: 662px){
    #menu a{
        display: flex;
        padding-right: 13px;
        padding-left: 13px;
    }
    .inscription{
        padding-left: 10px;
    }




    #section_1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    aside{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 50px;
    }
    #titre_populaires{
        padding: 20px 20px 10px 20px;
        border-radius: 20px 20px 0px 0px;
    }
    
    #photos_populaires .etoiles{
        position: absolute;
        bottom: 10px;
    }
    #hotel_1_p{
        font-size: 14px;
        width: 80%;
    }
    #hotel_2_p{
        font-size: 14px;
        width: 80%;
    }
    #hotel_3_p{
        font-size: 14px;
        width: 80%;
    }
    #photos_populaires{
        border-radius: 0px 0px 20px 20px;
    }
    
    #hotel_1{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        border: solid white 5px;
    }
    #hotel_2{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 15px;
        position: relative;
        border: solid white 5px;
    }
    #hotel_3{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
        border: solid white 5px;
    }
    




    #hebergement{
        width: 100%;
    }




    
    #photos_activites a{
        width: 50%;
    }
    #petites_act_1 a{
        width: 50%;
    }
    #petites_act_1{
        margin-bottom: 20px;
    }
    #vieux_port{
        width: 100%;
    }
    #vieux_port p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #fort_de_pommegues a{
        width: 100%;
    }
    #fort_de_pommegues p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #ile_du_frioul a{
        width: 100%;
    }
    #ile_du_frioul p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #petites_act_2 a{
        width: 50%;
    }
    #parc_national_des_calanques{
        width: 100%;
    }
    #parc_national_des_calanques p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #notre_dame_de_la_garde a{
        width: 100%;
    }
    #notre_dame_de_la_garde p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #parc_longchamp a{
        width: 100%;
    }
    #parc_longchamp p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    
}



/* ------------------------
  |      MEDIA QUERY 4    |
   ----------------------- */




@media all and (min-width:663px) and (max-width:977px){
    #photos_activites{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    #photos_activites a{
        margin-right: 20px;
    }
    #vieux_port{
        margin: 0px;
    }
    #vieux_port p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }

    #fort_de_pommegues p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #iles_du_frioul {
        margin-top: 0px;
    }
    #ile_du_frioul p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #parc_national_des_calanques p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #notre_dame_de_la_garde p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #parc_longchamp{
        margin-top: 0px;
    }
    #parc_longchamp p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #petites_act_1 {
        margin-right: 20px;
        margin-left: 20px;
    }
    #petites_act_2 {
        margin-right: 20px;
        margin-left: 20px;
    }
}



/* ------------------------
  |      MEDIA QUERY 5    |
   ----------------------- */




@media all and (min-width:977px) and (max-width:1187px){
    #photos_activites{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    #photos_activites a{
        margin-right: 20px;
    }
    #vieux_port{
        margin: 0px;
    }
    #vieux_port p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #fort_de_pommegues p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #iles_du_frioul {
            margin-top: 0px;
    }
    #ile_du_frioul p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #parc_national_des_calanques{
        margin: 0px;
    }
    #parc_national_des_calanques p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #notre_dame_de_la_garde p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #parc_longchamp{
        margin-top: 0px;
        height: 180px;
    }
    #parc_longchamp p{
        position: relative;
        top: 142px;
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #petites_act_1 {
        margin-right: 40px;
        margin-left: 20px;
    }
    #petites_act_2 {
        display: flex;
        margin-right: 30px;
        margin-left: 30px;
    }
}