@font-face{
    font-family: "Raleway";
    src: url(Raleway/static/Raleway-Medium.ttf);
}
@font-face{
    font-family: "Raleway-light";
    src: url(Raleway/static/Raleway-Light.ttf);
}
@font-face{
    font-family: "Raleway-semibold";
    src: url(Raleway/static/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: "Raleway-bold";
    src: url(Raleway/static/Raleway-Bold.ttf);
}



body{
    font-family:"Raleway";
    
}
#bloc_page{
    width: 90%;
    margin: auto;

}

h2{
    font-family: "Raleway-bold";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

h3{
    font-family: "Raleway-light";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}


header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 50px;
}
header span{
    font-family: "Raleway-semibold";
    color: #0065FC;
}
header a{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
}

#menu{
    display: flex;
    position: relative;
}
.inscription{
    position: relative;
    top: 30px;
}

#menu a:hover{
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

header .inscription:hover{
    text-shadow: 0px 1px 0px #0065fc;    
    color: #0065FC;
}

header img{
    min-width: 90px;
    max-width: 90px;
    height: auto;
    padding: 30px 20px 10px 0px;
}






#recherche{
    margin-top: 30px;
}
#barre_recherche{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.position{
    width: auto;
    height: 14px;
    background-color: #f2f2f2;
    padding:12px;
    border-radius:10px 0px 0px 10px ;
}
.fa-search{
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-size: 13px;
    font-family: "Raleway-semibold";
    text-align: center;
    color: white;
    padding: 10px;
    border: #0065FC solid;
    visibility: hidden;
    position: relative;
    right: 101px;

}
#champs_recherche{
    border: solid 1px #f2f2f2;
    padding: 0px 10px 0px 10px;
    height: 38px;
    max-width: 250px;
    font-family: "Raleway-semibold";
    font-size: 13px;
    color: black;
}
#bouton_recherche{
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-size: 13px;
    font-family: "Raleway-semibold";
    color: white;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border: #0065FC solid;
}
#bouton_recherche:active{
    border: outset 1px;
}






#filtres_recherche{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-family: "Raleway-bold";
    align-items: center;
    max-width: 830px;
}
.filtres{
    margin: 15px 30px 15px 0px;
}
#eco{
    padding: 0px 15px 0px 0px;
}
#filtres_recherche i{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 15px;
    border-radius: 25px;
    position: relative;
    right: 10px;
}
#filtres_recherche a{
    text-decoration: none;
    color: black;
    border: solid 2px #f4f4f4;
    border-radius: 20px;
    margin: 0px 20px 10px 20px;
}
#filtres_recherche a:hover{
    background-color: #0065FC;
    color: white;
    border:solid 2px #0065FC;
    box-shadow: 1px 1px 5px grey;
}
#familial{
    padding: 0px 15px 0px 0px;
}

#romantique{
    padding: 0px 15px 0px 0px;
}

#animaux{
    padding: 0px 15px 0px 0px;
}

#info_recherche{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#info_recherche i{
    color: #0065FC;
    margin-right: 15px;
}







#section_1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

#photos_hebergement i{
    font-size: 10px;
    color: #0065FC;
}
#hebergement span{
    font-family: "Raleway-light";
    font-size: 10px;
}
#hebergement h3{
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
}

#titre_hebergement{
    padding: 30px 30px 60px 30px;
}
#hebergement{
    position: relative;
    background-color: #f2f2f2;
    width: 70%;
    min-width: 305px;
    border-radius: 20px;
    margin-right: 20px;
    padding-bottom: 80px;
    }
    
#hebergement a{ 
    font-size: 12px;
    font-family: "Raleway-semibold";
    text-decoration: none;
    color: black;
    line-height: 16px;
    margin: 15px;

}
#photos_hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#photos_hebergement .etoile_last{
    color: #cccccc;
}
 
#auberge_la_cannebiere{
    background-image: url(images_reservia/hebergements/3_medium_/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position-y: -25px;
    border-radius: 15px;
    border: white solid 3px;
    height: 160px;
    width: 250px;
    box-shadow: 1px 2px 5px #cccccc;

}
#auberge_la_cannebiere p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 235px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 101px;

}
#hotel_du_port{
    background-image: url(images_reservia/hebergements/3_medium_/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position-y: -35px;
    border-radius: 15px;
    border: white solid 3px;
    height: 160px;
    width: 250px;
    box-shadow: 1px 2px 5px #cccccc;

}
#hotel_du_port p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 235px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 101px;

}
#hotel_les_mouettes{
    background-image: url(images_reservia/hebergements/3_medium_/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position-y: -45px;
    border-radius: 15px;
    border: white solid 3px;
    height: 160px;
    width: 250px;
    box-shadow: 1px 2px 5px #cccccc;
}
#hotel_les_mouettes p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 235px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 101px;
}
#hotel_de_la_mer{
    background-image: url(images_reservia/hebergements/3_medium_/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position-y: -80px;
    border-radius: 15px;
    border: white solid 3px;
    height: 160px;
    width: 250px;
    box-shadow: 1px 2px 5px #cccccc;
}

#hotel_de_la_mer p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 235px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 101px;
}
#auberge_le_panier{
    background-image: url(images_reservia/hebergements/3_medium_/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position-y: -35px;
    border-radius: 15px;
    border: white solid 3px;
    height: 160px;
    width: 250px;
    box-shadow: 1px 2px 5px #cccccc;
}
#auberge_le_panier p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 235px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 101px;
}
#hotel_chez_amina{
    background-image: url(images_reservia/hebergements/3_medium_/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position-y: -140px;
    border-radius: 15px;
    border: white solid 3px;
    height: 160px;
    width: 250px;
    box-shadow: 1px 2px 5px #cccccc;
    }
#hotel_chez_amina p{
    font-family: "Raleway-bold";
    font-size: 10px;
    padding: 7px 8px 7px 8px;
    height: 45px;
    width: 235px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin-top: 101px;
    }








aside{
    width: 40%;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    min-width: 316px;

}

#titre_populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 30px ;
    border-radius: 20px 20px 0px 0px;

}
#photos_populaires{
    padding: 30px ;
    background-color: #f2f2f2;
    border-radius: 0px 0px 20px 20px;

}
#photos_populaires a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;

}

#photos_populaires .etoiles{
    color: #0065FC;
    height: 13px;
    width: auto;
    position: absolute;
    bottom: 10px;
}
#photos_populaires .etoile_last{
    color: #cccccc;
}

#photos_populaires span{
    font-family: "Raleway-light";
    font-size: 11px;
    position: relative;
    top: 7px;
}
#hotel_1_img{
    min-width: 120px;
    min-height: 120px;
    background-image: url(images_reservia/hebergements/3_medium_/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;
}
#hotel_1_p{
    position: relative;
    background-color: white;
    font-family: "Raleway-bold";
    font-size: 12px;
    padding: 0px 12px 0px 12px;
    height: 130px;
    width: 3000px;
    min-width: 100px;
    border-radius: 0px 20px 20px 0px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;
    
}

#hotel_2_img{
    min-width: 120px;
    min-height: 120px;
    background-image: url(images_reservia/hebergements/3_medium_/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position-x: -15px;
    border-radius: 20px 0px 0px 20px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;

}
#hotel_2_p{
    position: relative;
    background-color: white;
    font-family: "Raleway-bold";
    font-size: 12px;
    padding: 0px 12px 0px 12px;
    height: 130px;
    width: 3000px;
    min-width: 100px;
    border-radius: 0px 20px 20px 0px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;
}
#hotel_3_img{
    min-width: 120px;
    min-height: 120px;
    background-image: url(images_reservia/hebergements/3_medium_/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position-y: -30px;
    border-radius: 20px 0px 0px 20px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;

}
#hotel_3_p{
    position: relative;
    background-color: white;
    font-family: "Raleway-bold";
    font-size: 12px;
    padding: 0px 12px 0px 12px;
    height: 130px;
    width: 3000px;
    min-width: 100px;
    border-radius: 0px 20px 20px 0px;
    border: solid 4px white;
    box-shadow: 2px 2px 2px #cccccc;
}






#activites{
    width: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
#photos_activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#photos_activites a{
    text-decoration: none;
    color: black;
    font-family: "Raleway-bold";
    font-size: 10px;
    width: 250px;
}

#vieux_port{
    background-image: url(images_reservia/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover ;
    border-radius: 15px;
    height: 350px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    }
#vieux_port p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 312px;
    }
#iles_du_frioul{
    background-image: url(images_reservia/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover ;
    background-position-y: -10px;
    border-radius: 15px;
    height: 140px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    margin-top: 30px;
    }
#iles_du_frioul p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 102px;
    } 
#fort_de_pomegues{
    background-image: url(images_reservia/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover ;
    background-position-y: -100px;
    border-radius: 15px;
    height: 180px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    }
#fort_de_pomegues p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 142px;
}
#parc_national_des_calanques{
    background-image: url(images_reservia/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover ;
    border-radius: 15px;
    height: 350px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    }
#parc_national_des_calanques p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 312px;
    }
#notre_dame_de_la_garde{
    background-image: url(images_reservia/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover ;
    border-radius: 15px;
    height: 180px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    }
#notre_dame_de_la_garde p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 142px;
    }
#parc_longchamp{
    background-image: url(images_reservia/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover ;
    background-position-y: -20px;
    border-radius: 15px;
    height: 140px;
    width: 250px;
    box-shadow: 2px 2px 4px  #c7c7c7;
    margin-top: 30px;
    }
#parc_longchamp p{
    padding: 12px 8px 7px 12px;
    height: 20px;
    width: 230px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    position: relative;
    top: 102px;
    }




footer{
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: #f2f2f2;
    width: 100%;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: black;
}
footer h2{
    margin-bottom: 20px;
}
#a_propos{
    margin: 20px 20px 20px 30px;
}
#nos_hebergements{
    margin: 20px 30px 20px 30px;}
#assistance{
    margin: 20px 30px 20px 30px;}





/*|------------------------------|
  |---------MEDIA QUERY 1--------|
  |------------------------------|*/




  

@media all and (max-width: 480px){


body{
    width: 100%;
    margin: 0px;
}
#bloc_page{
    width: 100%;
}
header img{
    padding-left: 35px;
}
.inscription{
    position: absolute;
    right: 0px;
    top: 15px;
    font-size: 14px;
}
nav{
    width: 100%;
    justify-content: center;
}

#menu{
    width: 100%;
}
#menu p{
    text-align: center;
    font-size: 14px;
}
#menu a{
    width: 50%;
    border-bottom: #f2f2f2 solid 2px;
}
#menu a:hover{
    border-top: none;
    border-bottom: solid 2px #0065FC
    }




#recherche h2{
    font-size: 26px;
    padding: 0px 35px 0px 35px;
}
#recherche h3{
    font-size: 12px;
    padding: 0px 35px 0px 35px;
}
#barre_recherche{
    justify-content: center;
}
#champs_recherche{
    max-width: 150px;
    }
#bouton_recherche{
    visibility: hidden;
}
.fa-search{
    visibility: visible;
    position: relative;
    right: 101px;
    height: 14px;
}
.filtres{
    margin-right: 200px;
    margin-left: 15px;
}
#filtres_recherche{
    margin: 0px 20px 0px 20px;
}
#info_recherche{
    padding-left: 25px;
}
#info_recherche h3{
    padding-left: 5px;
}




#section_1{
    flex-direction: column-reverse;
}
aside{
    width: 100%;
    margin: 0px;
    margin-bottom: 50px;
}
#titre_populaires{
    padding: 20px 20px 10px 20px;
    border-radius: 0px;
}

#hotel_1_p{
    font-size: 14px;
}
#hotel_2_p{
    font-size: 14px;
}
#hotel_3_p{
    font-size: 14px;
}
#photos_populaires{
    border-radius: 0px;
}



#hebergement{
    width: 90%;
    margin: auto;
    background-color: white;
}
#titre_hebergement{
    padding: 10px 20px 10px 0px;
}
#photos_hebergement{
    padding: 0px 20px 0px 20px;
}
#photos_hebergement a{
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}
#auberge_la_cannebiere{
    width: 100%;
    height: 180px;
    border: white solid 5px;
}
#auberge_la_cannebiere p{
    width: 96%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hotel_du_port{
    width: 100%;
    height: 180px;
    border: white solid 5px;
    background-position: bottom;
}
#hotel_du_port p{
    width: 96%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hotel_les_mouettes{
    width: 100%;
    height: 180px;
    border: white solid 5px;
    background-position: bottom;
}
#hotel_les_mouettes p{
    width: 96%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hotel_de_la_mer{
    width: 100%;
    height: 180px;
    border: white solid 5px;
    background-position: bottom;
}
#hotel_de_la_mer p{
    width: 96%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#auberge_le_panier{
    width: 100%;
    height: 180px;
    border: white solid 5px;
}
#auberge_le_panier p{
    width: 96%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hotel_chez_amina{
    width: 100%;
    height: 180px;
    border: white solid 5px;
    background-position: center;
}
#hotel_chez_amina p{
    width: 96%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hebergement h3 a{
    font-size: 14px;
    margin: 0px;
}




#titre_activites{
    margin-left: 25px;
    margin-bottom: 20px;
}
#photos_activites {
    width: 90%;
    margin: auto;
}
#photos_activites a{
    width: 100%;
    margin-bottom: 25px;
}
#vieux_port {
    width: 100%;
    height: 140px;
    background-position: center;
}
#vieux_port p{
    top: 102px;
    width: 100%;
    margin: auto;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#fort_de_pomegues{
    width: 100%;
    height: 140px;
    background-position: center;
}
#fort_de_pomegues p{
    top: 102px;
    width: 100%;
    margin: auto;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#iles_du_frioul{
    width: 100%;
    height: 140px;
    margin-top: 20px;
    background-position: center;
}
#iles_du_frioul p{
    top: 102px;
    width: 100%;
    margin: auto;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#parc_national_des_calanques{
    width: 100%;
    height: 140px;
    background-position: center;
}
#parc_national_des_calanques p{
    top: 102px;
    width: 100%;
    margin: auto;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#notre_dame_de_la_garde{
    width: 100%;
    height: 140px;
    background-position: center;
}
#notre_dame_de_la_garde p{
    top: 102px;
    width: 100%;
    margin: auto;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#parc_longchamp{
    width: 100%;
    height: 140px;
    background-position: center;
}
#parc_longchamp p{
    top: 102px;
    width: 100%;
    margin: auto;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#petites_act_1{
    width: 100%;
    margin-bottom: 20px;
}
#petites_act_2{
    width: 100%;
    margin-bottom: 20px;
}




footer{
    flex-direction: column;
}

}


/* ------------------------
  |      MEDIA QUERY 2    |
   ----------------------- */



@media all and (min-width:481px) and (max-width: 724px){
#menu a{
    padding-right: 13px;
    padding-left: 13px;
}
.inscription{
    padding-left: 10px;
}
#section_1{
    flex-direction: column-reverse;
}
aside{
    width: 100%;
    margin: 0px;
    margin-bottom: 50px;
}
#hotel_1_p{
    font-size: 14px;
}
#hotel_2_p{
    font-size: 14px;
}
#hotel_3_p{
    font-size: 14px;
}


#hebergement{
    width: 90%;
    margin: auto;
    background-color: white;
}
#titre_hebergement{
    padding: 10px 20px 20px 0px;
}
#photos_hebergement a{
    width: 100%;
}
#auberge_la_cannebiere{
    width: 100%;
    height: 180px;
    border: white solid 5px;
}
#auberge_la_cannebiere p{
    width: 97%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hotel_du_port{
    width: 100%;
    height: 180px;
    border: white solid 5px;
}
#hotel_du_port p{
    width: 97%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hotel_les_mouettes{
    width: 100%;
    height: 180px;
    border: white solid 5px;
}
#hotel_les_mouettes p{
    width: 97%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hotel_de_la_mer{
    width: 100%;
    height: 180px;
    border: white solid 5px;
}
#hotel_de_la_mer p{
    width: 97%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#auberge_le_panier{
    width: 100%;
    height: 180px;
    border: white solid 5px;
}
#auberge_le_panier p{
    width: 97%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hotel_chez_amina{
    width: 100%;
    height: 180px;
    border: white solid 5px;
    background-position: center;
}
#hotel_chez_amina p{
    width: 97%;
    position: relative;
    top: 21px;
    border-radius: 0px 0px 10px 10px;
}
#hebergement h3 a{
    font-size: 14px;
    margin: 0px;
}




#titre_activites{
    margin-bottom: 20px;
}
#photos_activites a{
    width: 100%;
    margin-bottom: 30px;
}
#vieux_port {
    width: 100%;
    height: 200px;
    background-position-y: -40px;
}
#vieux_port p{
    top: 162px;
    width: 100%;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#fort_de_pomegues{
    width: 100%;
    height: 200px;
    background-position-y: -260px;
}
#fort_de_pomegues p{
    top: 162px;
    width: 100%;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#iles_du_frioul{
    width: 100%;
    height: 200px;
    background-position-y: -60px;
}
#iles_du_frioul p{
    top: 162px;
    width: 100%;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#parc_national_des_calanques{
    width: 100%;
    height: 200px;
    background-position-y: -90px;
}
#parc_national_des_calanques p{
    top: 162px;
    width: 100%;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#notre_dame_de_la_garde{
    width: 100%;
    height: 200px;
    background-position-y: -30px;
}
#notre_dame_de_la_garde p{
    top: 162px;
    width: 100%;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#parc_longchamp{
    width: 100%;
    height: 200px;
    background-position-y: -100px;
}
#parc_longchamp p{
    top: 162px;
    width: 100%;
    padding: 12px 0px 6px 0px;
    text-indent: 10px;
}
#petites_act_1{
    width: 100%;
    margin-bottom: 20px;
}
#petites_act_2{
    width: 100%;
    margin-bottom: 20px;
}

}



/* ------------------------
  |      MEDIA QUERY 3    |
   ----------------------- */



@media all and (min-width:725px) and (max-width: 977px){

#section_1{
    flex-direction: column-reverse;
}
aside{
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
}
#hotel_1_p{
    font-size: 14px;
}
#hotel_2_p{
    font-size: 14px;
}
#hotel_3_p{
    font-size: 14px;
}
#hebergement{
    width: 100%;
}


#photos_activites a{
    width: 50%;
}
#petites_act_1{
    margin-bottom: 20px;
}
#vieux_port{
    width: 100%;
}
#vieux_port p{
    width: 100%;
    padding: 12px 0px 8px 0px;
    text-indent: 10px;
}
#fort_de_pommegues p{
    width: 100%;
    padding: 12px 0px 8px 0px;
    text-indent: 10px;
}
#ile_du_frioul p{
    width: 100%;
    padding: 12px 0px 8px 0px;
    text-indent: 10px;
}
#parc_national_des_calanques{
    width: 100%;
}
#parc_national_des_calanques p{
    width: 100%;
    padding: 12px 0px 8px 0px;
    text-indent: 10px;
}
#notre_dame_de_la_garde p{
    width: 100%;
    padding: 12px 0px 8px 0px;
    text-indent: 10px;
}
#parc_longchamp p{
    width: 100%;
    padding: 12px 0px 8px 0px;
    text-indent: 10px;
}
    
}

/* ------------------------
  |      MEDIA QUERY 4    |
   ----------------------- */




@media all and (min-width:978px) and (max-width:1290px){
    #photos_activites{
        justify-content: center;
    }
    #photos_activites a{
        margin-right: 20px;
    }
    #vieux_port p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #fort_de_pommegues p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #iles_du_frioul {
            margin-top: 0px;
    }
    #ile_du_frioul p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #parc_national_des_calanques p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #notre_dame_de_la_garde p{
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #parc_longchamp{
        margin-top: 0px;
        height: 180px;
    }
    #parc_longchamp p{
        position: relative;
        top: 142px;
        width: 100%;
        padding: 12px 0px 8px 0px;
        text-indent: 10px;
    }
    #petites_act_1 {
        margin-right: 40px;
        margin-left: 20px;
    }
    #petites_act_2 {
        display: flex;
    }
}